body {
  margin: 0;
  font-family: Roboto;
  background-color: #EDE9DD;
}
img {
  transition: filter 0.3s ease;
}
img:hover {
  filter: saturate(4);
  cursor: pointer;
}

/*  
code related to hero (section-1)
*/
.hero {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 20px;
}
.nav {
  display: grid;
  grid-template-columns: 7fr 50px 50px;
  border-bottom: 2px solid #2E5E4E;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.nav__logo{
  height: 30px;
}
.fa {
  color: #2E5E4E;
  transition: transform 0.3s ease;
}
.fa:hover {
  transform: scale(1.1);
}
.hero__main {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.hero__img {
  align-items: center;
}
.hero__img img{
  width: 95%;
  display: block;
  margin: auto;
}
.hero__title {
  font-size: 36px;
  font-family: Special Elite;
  color: #2E5E4E;
  font-weight: 900;
}
.hero__subtitle {
  font-size: 28px;
  font-family: Playfair display;
  color: #2E5E4E;
}
/*
code related to section 2
*/

/*
code related to section 3
*/


/*
code related to section 4
*/
.signup {
  display: grid;
  grid-template-columns: 3fr 1fr;
}